resources/canadapost/pickuprequest.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap11="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp200409="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsp200607="http://www.w3.org/2006/07/ws-policy" xmlns:ns0="http://www.canadapost.ca/ws/soap/pickuprequest" targetNamespace="http://www.canadapost.ca/ws/soap/pickuprequest">
	<wsdl:types xmlns:xsd="http://www.w3.org/2001/XMLSchema">
		<xsd:schema xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://www.canadapost.ca/ws/soap/pickuprequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.canadapost.ca/ws/soap/pickuprequest">
			<xsd:element name="create-pickup-request-request">
				<xsd:complexType>
					<xsd:all>
						<xsd:element name="customer-number" type="tns:CustomerIDType" />
						<xsd:element name="locale" type="tns:locale" minOccurs="0" />
						<xsd:element name="platform-id" type="tns:PlatformIDType" minOccurs="0" />
						<xsd:element name="pickup-request-details" type="tns:PickupRequestDetailsType" minOccurs="1" maxOccurs="1" />
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="create-pickup-request-response">
				<xsd:complexType>
					<xsd:choice>
						<xsd:element name="pickup-request-info" type="tns:PickupRequestInfoType" />
						<xsd:element name="messages" type="tns:messages" />
					</xsd:choice>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="PickupRequestInfoType">
				<xsd:all>
					<xsd:element name="pickup-request-header" type="tns:PickupRequestHeaderType" minOccurs="1" maxOccurs="1" />
					<xsd:element name="pickup-request-price" type="tns:PickupRequestPriceType" minOccurs="0" maxOccurs="1" />
				</xsd:all>
			</xsd:complexType>
			<xsd:element name="get-pickup-request-details-request">
				<xsd:complexType>
					<xsd:all>
						<xsd:element name="customer-number" type="tns:CustomerIDType" />
						<xsd:element name="locale" type="tns:locale" minOccurs="0" />
						<xsd:element name="platform-id" type="tns:PlatformIDType" minOccurs="0" />
						<xsd:element name="request-id" type="tns:RequestIDType" minOccurs="1" maxOccurs="1" />
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="get-pickup-request-details-response">
				<xsd:complexType>
					<xsd:choice>
						<xsd:element name="pickup-request-detailed-info" type="tns:PickupRequestDetailedInfoType" />
						<xsd:element name="messages" type="tns:messages" />
					</xsd:choice>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="update-pickup-request-request">
				<xsd:complexType>
					<xsd:all>
						<xsd:element name="customer-number" type="tns:CustomerIDType" />
						<xsd:element name="locale" type="tns:locale" minOccurs="0" />
						<xsd:element name="platform-id" type="tns:PlatformIDType" minOccurs="0" />
						<xsd:element name="request-id" type="tns:RequestIDType" minOccurs="1" maxOccurs="1" />
						<xsd:element name="pickup-request-update" type="tns:PickupRequestUpdateDetailsType" minOccurs="1" maxOccurs="1" />
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="update-pickup-request-response">
				<xsd:complexType>
					<xsd:choice>
						<xsd:element name="update-pickup-request-success" type="xsd:boolean" />
						<xsd:element name="messages" type="tns:messages" />
					</xsd:choice>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="hold-pickups-request">
				<xsd:complexType>
					<xsd:all>
						<xsd:element name="customer-number" type="tns:CustomerIDType" />
						<xsd:element name="locale" type="tns:locale" minOccurs="0" />
						<xsd:element name="platform-id" type="tns:PlatformIDType" minOccurs="0" />
						<xsd:element name="request-id" type="tns:RequestIDType" minOccurs="1" maxOccurs="1" />
						<xsd:element name="effective-date" type="xsd:date" minOccurs="1" maxOccurs="1" />
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="hold-pickups-response">
				<xsd:complexType>
					<xsd:choice>
						<xsd:element name="hold-pickups-success" type="xsd:boolean" />
						<xsd:element name="messages" type="tns:messages" />
					</xsd:choice>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="resume-pickups-request">
				<xsd:complexType>
					<xsd:all>
						<xsd:element name="customer-number" type="tns:CustomerIDType" />
						<xsd:element name="locale" type="tns:locale" minOccurs="0" />
						<xsd:element name="platform-id" type="tns:PlatformIDType" minOccurs="0" />
						<xsd:element name="request-id" type="tns:RequestIDType" minOccurs="1" maxOccurs="1" />
						<xsd:element name="effective-date" type="xsd:date" minOccurs="1" maxOccurs="1" />
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="resume-pickups-response">
				<xsd:complexType>
					<xsd:choice>
						<xsd:element name="resume-pickups-success" type="xsd:boolean" />
						<xsd:element name="messages" type="tns:messages" />
					</xsd:choice>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="cancel-pickup-request-request">
				<xsd:complexType>
					<xsd:all>
						<xsd:element name="customer-number" type="tns:CustomerIDType" />
						<xsd:element name="locale" type="tns:locale" minOccurs="0" />
						<xsd:element name="platform-id" type="tns:PlatformIDType" minOccurs="0" />
						<xsd:element name="request-id" type="tns:RequestIDType" minOccurs="1" maxOccurs="1" />
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="cancel-pickup-request-response">
				<xsd:complexType>
					<xsd:choice>
						<xsd:element name="cancel-pickup-success" type="xsd:boolean" />
						<xsd:element name="messages" type="tns:messages" />
					</xsd:choice>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="get-pickup-requests-request">
				<xsd:complexType>
					<xsd:all>
						<xsd:element name="customer-number" type="tns:CustomerIDType" />
						<xsd:element name="locale" type="tns:locale" minOccurs="0" />
						<xsd:element name="platform-id" type="tns:PlatformIDType" minOccurs="0" />
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="get-pickup-requests-response">
				<xsd:complexType>
					<xsd:choice>
						<xsd:element name="pickup-requests" type="tns:PickupRequestsType" maxOccurs="unbounded" />
						<xsd:element name="messages" type="tns:messages" />
					</xsd:choice>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="get-pickup-price-request">
				<xsd:complexType>
					<xsd:all>
						<xsd:element name="customer-number" type="tns:CustomerIDType" />
						<xsd:element name="locale" type="tns:locale" minOccurs="0" />
						<xsd:element name="platform-id" type="tns:PlatformIDType" minOccurs="0" />
						<xsd:element name="pickup-details" type="tns:PickupDetailsType" minOccurs="1" maxOccurs="1" />
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="get-pickup-price-response">
				<xsd:complexType>
					<xsd:choice>
						<xsd:element name="pickup-request-price" type="tns:PickupRequestPriceNoCCType" />
						<xsd:element name="messages" type="tns:messages" />
					</xsd:choice>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="PickupRequestsType">
				<xsd:sequence>
					<xsd:element name="pickup-request" type="tns:PickupRequestType" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="PickupDetailsType">
				<xsd:sequence>
					<xsd:element name="date" type="xsd:date" minOccurs="0" />
					<xsd:element name="contract-id" type="tns:ContractIDType" minOccurs="0" />
					<xsd:element name="pww-flag" type="xsd:boolean" minOccurs="0" />
					<xsd:element name="priority-flag" type="xsd:boolean" minOccurs="0" />
					<xsd:element name="alternate-address-province" type="tns:ProvinceType" minOccurs="0" />
					<xsd:element name="alternate-address-postal-code" type="tns:PostalCodeType" minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="PickupRequestType">
				<xsd:sequence>
					<xsd:element name="pickup-request-header" type="tns:PickupRequestHeaderType" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="PickupRequestHeaderType">
				<xsd:sequence>
					<xsd:element name="request-id" type="tns:RequestIDType" />
					<xsd:element name="request-status" type="tns:PickupStatusType" />
					<xsd:element name="pickup-type" type="tns:PickupTypeType" />
					<xsd:element name="request-date" type="xsd:date" minOccurs="0" />
					<xsd:element name="next-pickup-date" type="xsd:date" minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="PickupRequestDetailsType">
				<xsd:sequence>
					<xsd:element name="customer-request-id" type="tns:CustomerRequestIDType" minOccurs="0" />
					<xsd:element name="pickup-type" type="tns:PickupTypeType" />
					<xsd:element name="pickup-location" type="tns:PickupLocationType" />
					<xsd:element name="contact-info" type="tns:ContactInfoType" />
					<xsd:element name="location-details" type="tns:LocationDetailsType" />
					<xsd:element name="items-characteristics" type="tns:ItemsCharacteristicsType" minOccurs="0" maxOccurs="1" />
					<xsd:element name="pickup-volume" type="tns:PickupVolumeType" minOccurs="1" maxOccurs="1" />
					<xsd:element name="pickup-times" type="tns:PickupTimesType" />
					<xsd:element name="payment-info" type="tns:PaymentInfoType" minOccurs="0" maxOccurs="1" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="PickupRequestUpdateDetailsType">
				<xsd:sequence>
					<xsd:element name="contact-info" type="tns:ContactInfoType" />
					<xsd:element name="location-details" type="tns:LocationDetailsType" />
					<xsd:element name="items-characteristics" type="tns:ItemsCharacteristicsUpdateDetailsType" minOccurs="0" maxOccurs="1" />
					<xsd:element name="pickup-volume" type="tns:PickupVolumeType" minOccurs="1" maxOccurs="1" />
					<xsd:element name="pickup-times" type="tns:PickupTimesType" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="PickupRequestDetailedInfoType">
				<xsd:all>
					<xsd:element name="pickup-request-header" type="tns:PickupRequestHeaderType" minOccurs="1" maxOccurs="1" />
					<xsd:element name="pickup-request-details" type="tns:PickupRequestResponseDetailsType" minOccurs="1" maxOccurs="1" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="PickupRequestResponseDetailsType">
				<xsd:sequence>
					<xsd:element name="pickup-location" type="tns:PickupLocationType" />
					<xsd:element name="contact-info" type="tns:ContactInfoResponseDetailsType" />
					<xsd:element name="location-details" type="tns:LocationDetailsType" />
					<xsd:element name="items-characteristics" type="tns:ItemsCharacteristicsType" minOccurs="0" maxOccurs="1" />
					<xsd:element name="pickup-volume" type="tns:PickupVolumeType" minOccurs="1" maxOccurs="1" />
					<xsd:element name="pickup-times" type="tns:PickupTimesType" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="CustomerRequestIDType">
				<xsd:restriction base="xsd:normalizedString">
					<xsd:minLength value="1" />
					<xsd:maxLength value="35" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="PickupTypeType">
				<xsd:restriction base="xsd:normalizedString">
					<xsd:enumeration value="OnDemand" />
					<xsd:enumeration value="Scheduled" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="PickupLocationType">
				<xsd:sequence>
					<xsd:element name="business-address-flag" type="xsd:boolean" minOccurs="1" maxOccurs="1" />
					<xsd:element name="alternate-address" type="tns:AlternateAddressType" minOccurs="0" maxOccurs="1" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="AlternateAddressType">
				<xsd:sequence>
					<xsd:element name="company" minOccurs="1" maxOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="35" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="address-line-1" minOccurs="1" maxOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="35" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="city" minOccurs="1" maxOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="35" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="province" type="tns:ProvinceType" minOccurs="1" maxOccurs="1" />
					<xsd:element name="postal-code" type="tns:PostalCodeType" minOccurs="1" maxOccurs="1" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ContactInfoType">
				<xsd:sequence>
					<xsd:element name="contact-name" minOccurs="1" maxOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="45" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="email" type="tns:EmailType" minOccurs="1" maxOccurs="1" />
					<xsd:element name="contact-phone" type="tns:PhoneType" minOccurs="1" maxOccurs="1" />
					<xsd:element name="telephone-ext" type="tns:PhoneExtentionType" minOccurs="0" maxOccurs="1" />
					<xsd:element name="receive-email-updates-flag" type="xsd:boolean" minOccurs="0" maxOccurs="1" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ContactInfoResponseDetailsType">
				<xsd:sequence>
					<xsd:element name="contact-name" minOccurs="1" maxOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="45" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="email" type="tns:EmailType" minOccurs="0" maxOccurs="1" />
					<xsd:element name="contact-phone" type="tns:PhoneType" minOccurs="1" maxOccurs="1" />
					<xsd:element name="telephone-ext" type="tns:PhoneExtentionType" minOccurs="0" maxOccurs="1" />
					<xsd:element name="receive-email-updates-flag" type="xsd:boolean" minOccurs="0" maxOccurs="1" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="LocationDetailsType">
				<xsd:sequence>
					<xsd:element name="five-ton-flag" type="xsd:boolean" minOccurs="0" maxOccurs="1" />
					<xsd:element name="loading-dock-flag" type="xsd:boolean" minOccurs="0" maxOccurs="1" />
					<xsd:element name="pickup-instructions">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="132" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ItemsCharacteristicsType">
				<xsd:sequence>
					<xsd:element name="pww-flag" type="xsd:boolean" minOccurs="0" maxOccurs="1" />
					<xsd:element name="priority-flag" type="xsd:boolean" minOccurs="0" maxOccurs="1" />
					<xsd:element name="returns-flag" type="xsd:boolean" minOccurs="0" maxOccurs="1" />
					<xsd:element name="heavy-item-flag" type="xsd:boolean" minOccurs="0" maxOccurs="1" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ItemsCharacteristicsUpdateDetailsType">
				<xsd:sequence>
					<xsd:element name="heavy-item-flag" type="xsd:boolean" minOccurs="0" maxOccurs="1" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="PickupTimesType">
				<xsd:choice>
					<xsd:element name="on-demand-pickup-time" type="tns:OnDemandPickupTimeType" />
					<xsd:element name="scheduled-pickup-times" type="tns:ScheduledPickupTimesType" />
				</xsd:choice>
			</xsd:complexType>
			<xsd:complexType name="PickupRequestPriceType">
				<xsd:sequence>
					<xsd:element name="pre-tax-amount" type="tns:CostTypeAllowsZero" />
					<xsd:element name="gst-amount" type="tns:CostTypeAllowsZero" minOccurs="0" maxOccurs="1" />
					<xsd:element name="pst-amount" type="tns:CostTypeAllowsZero" minOccurs="0" maxOccurs="1" />
					<xsd:element name="hst-amount" type="tns:CostTypeAllowsZero" minOccurs="0" maxOccurs="1" />
					<xsd:element name="due-amount" type="tns:CostTypeAllowsZero" />
					<xsd:element name="cc-receipt-details" type="tns:cc-receipt-details-type" minOccurs="0" maxOccurs="1" />
					<xsd:element name="supplier-account-receipt-details" type="tns:SupplierAccountReceiptDetailsType" minOccurs="0" maxOccurs="1" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="PickupRequestPriceNoCCType">
				<xsd:sequence>
					<xsd:element name="pre-tax-amount" type="tns:CostTypeAllowsZero" />
					<xsd:element name="gst-amount" type="tns:CostTypeAllowsZero" minOccurs="0" maxOccurs="1" />
					<xsd:element name="pst-amount" type="tns:CostTypeAllowsZero" minOccurs="0" maxOccurs="1" />
					<xsd:element name="hst-amount" type="tns:CostTypeAllowsZero" minOccurs="0" maxOccurs="1" />
					<xsd:element name="due-amount" type="tns:CostTypeAllowsZero" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="SupplierAccountReceiptDetailsType">
				<xsd:sequence>
					<xsd:element name="merchant-name" minOccurs="1" maxOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:normalizedString">
								<xsd:maxLength value="35" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="merchant-url" minOccurs="1" maxOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:normalizedString">
								<xsd:maxLength value="132" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="auth-code" type="tns:PreAuthorizedPaymentAuthCodeType" minOccurs="1" maxOccurs="1" />
					<xsd:element name="auth-timestamp" type="xsd:dateTime" minOccurs="1" maxOccurs="1" />
					<xsd:element name="supplier-id" minOccurs="1" maxOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:normalizedString">
								<xsd:maxLength value="10" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="charge-amount" type="tns:PreAuthorizedPaymentAmountType" minOccurs="1" maxOccurs="1" />
					<xsd:element name="currency" type="tns:CurrencyType" minOccurs="1" maxOccurs="1" />
					<xsd:element name="transaction-type" minOccurs="1" maxOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:normalizedString">
								<xsd:maxLength value="8" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="OnDemandPickupTimeType">
				<xsd:sequence>
					<xsd:element name="date" type="xsd:date" />
					<xsd:element name="preferred-time" type="tns:PickupTimeType" />
					<xsd:element name="closing-time" type="tns:PickupTimeType" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ScheduledPickupTimesType">
				<xsd:sequence>
					<xsd:element name="pickup-times-per-day" type="tns:PickupTimesPerDayType" maxOccurs="5" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="PickupTimesPerDayType">
				<xsd:sequence>
					<xsd:element name="day" type="tns:DayOfTheWeekType" />
					<xsd:element name="preferred-time-1" type="tns:PickupTimeType" minOccurs="1" maxOccurs="1" />
					<xsd:element name="preferred-time-2" type="tns:PickupTimeType" minOccurs="1" maxOccurs="1" />
					<xsd:element name="closing-time" type="tns:PickupTimeType" minOccurs="1" maxOccurs="1" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="PaymentInfoType">
				<xsd:sequence>
					<xsd:element name="contract-id" type="tns:ContractIDType" minOccurs="0" />
					<xsd:element name="method-of-payment" type="tns:MethodOfPaymentType" minOccurs="0" maxOccurs="1" />
					<xsd:element name="pre-authorized-payment" type="tns:PreAuthorizedPaymentType" minOccurs="0" maxOccurs="1" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="PreAuthorizedPaymentType">
				<xsd:sequence>
					<xsd:element name="account-number" type="tns:PreAuthorizedPaymentAccountNumberType" minOccurs="0" maxOccurs="1" />
					<xsd:element name="auth-code" type="tns:PreAuthorizedPaymentAuthCodeType" minOccurs="0" maxOccurs="1" />
					<xsd:element name="auth-timestamp" type="xsd:dateTime" minOccurs="0" maxOccurs="1" />
					<xsd:element name="charge-amount" type="tns:PreAuthorizedPaymentAmountType" minOccurs="1" maxOccurs="1" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="PreAuthorizedPaymentAccountNumberType">
				<xsd:restriction base="xsd:normalizedString">
					<xsd:minLength value="1" />
					<xsd:maxLength value="10" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="PreAuthorizedPaymentAuthCodeType">
				<xsd:restriction base="xsd:normalizedString">
					<xsd:minLength value="1" />
					<xsd:maxLength value="16" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="PreAuthorizedPaymentAmountType">
				<xsd:restriction base="xsd:decimal">
					<xsd:minInclusive value="0" />
					<xsd:maxInclusive value="9999999.99" />
					<xsd:fractionDigits value="2" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="DayOfTheWeekType">
				<xsd:restriction base="xsd:normalizedString">
					<xsd:enumeration value="MON" />
					<xsd:enumeration value="TUE" />
					<xsd:enumeration value="WED" />
					<xsd:enumeration value="THU" />
					<xsd:enumeration value="FRI" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="messages">
				<xsd:sequence>
					<xsd:element minOccurs="0" maxOccurs="unbounded" name="message">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="code" type="xsd:string" />
								<xsd:element name="description" type="xsd:string" />
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="PickupTimeType">
				<xsd:restriction base="xsd:string">
					<xsd:pattern value="(12|13|14|15|16|17):(00|15|30|45)" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="locale">
				<xsd:restriction base="xsd:string">
					<xsd:pattern value="([eE][nN]|[fF][rR])" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="PlatformIDType">
				<xsd:restriction base="xsd:string">
					<xsd:pattern value="\d{1,10}" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="CustomerIDType">
				<xsd:restriction base="xsd:string">
					<xsd:pattern value="\d{1,10}" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="PostalCodeType">
				<xsd:restriction base="xsd:string">
					<xsd:pattern value="[A-Z]\d[A-Z]\d[A-Z]\d" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="ProvinceType">
				<xsd:restriction base="xsd:normalizedString">
					<xsd:minLength value="1" />
					<xsd:maxLength value="2" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="EmailType">
				<xsd:restriction base="xsd:normalizedString">
					<xsd:pattern value="(['_A-Za-z0-9\-\+]+)(\.['_A-Za-z0-9\-\+]+)*@([A-Za-z0-9\-]+)(\.[A-Za-z0-9\-]+)*(\.[A-Za-z]{2,5})" />
					<xsd:maxLength value="60" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="PhoneType">
				<xsd:restriction base="xsd:normalizedString">
					<xsd:pattern value="[0-9]{3}-[0-9]{3}-[0-9]{4}" />
					<xsd:maxLength value="16" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="PhoneExtentionType">
				<xsd:restriction base="xsd:normalizedString">
					<xsd:pattern value="\d{1,6}" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="ContractIDType">
				<xsd:restriction base="xsd:string">
					<xsd:pattern value="\d{1,10}" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="MethodOfPaymentType">
				<xsd:restriction base="xsd:normalizedString">
					<xsd:enumeration value="CreditCard" />
					<xsd:enumeration value="Account" />
					<xsd:enumeration value="SupplierAccount" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="RequestIDType">
				<xsd:restriction base="xsd:normalizedString">
					<xsd:minLength value="1" />
					<xsd:maxLength value="32" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="PickupVolumeType">
				<xsd:restriction base="xsd:normalizedString">
					<xsd:minLength value="1" />
					<xsd:maxLength value="40" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="PickupStatusType">
				<xsd:restriction base="xsd:normalizedString">
					<xsd:enumeration value="Active" />
					<xsd:enumeration value="New" />
					<xsd:enumeration value="Cancelled" />
					<xsd:enumeration value="Pending" />
					<xsd:enumeration value="Missed Pickup" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="CostTypeNonZero">
				<xsd:restriction base="xsd:decimal">
					<xsd:minExclusive value="0" />
					<xsd:maxInclusive value="999999.99" />
					<xsd:fractionDigits value="2" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="CostTypeAllowsZero">
				<xsd:restriction base="xsd:decimal">
					<xsd:minInclusive value="0" />
					<xsd:maxInclusive value="999999.99" />
					<xsd:fractionDigits value="2" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="CostTypeAllowsNegative">
				<xsd:restriction base="xsd:decimal">
					<xsd:minInclusive value="-999999.99" />
					<xsd:maxInclusive value="999999.99" />
					<xsd:fractionDigits value="2" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="CcType">
				<xsd:restriction base="xsd:normalizedString">
					<xsd:minLength value="1" />
					<xsd:maxLength value="25" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="CcMaskedNumberType">
				<xsd:restriction base="xsd:normalizedString">
					<xsd:maxLength value="20" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="CcNameType">
				<xsd:restriction base="xsd:normalizedString">
					<xsd:minLength value="1" />
					<xsd:maxLength value="40" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="CcAuthorizationCodeType">
				<xsd:restriction base="xsd:normalizedString">
					<xsd:minLength value="1" />
					<xsd:maxLength value="10" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="CcAuthorizationAmountType">
				<xsd:restriction base="xsd:decimal" />
			</xsd:simpleType>
			<xsd:simpleType name="CurrencyType">
				<xsd:restriction base="xsd:normalizedString">
					<xsd:minLength value="1" />
					<xsd:maxLength value="3" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="cc-receipt-details-type">
				<xsd:all>
					<xsd:element name="merchant-name">
						<xsd:simpleType>
							<xsd:restriction base="xsd:normalizedString">
								<xsd:maxLength value="44" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="merchant-url">
						<xsd:simpleType>
							<xsd:restriction base="xsd:normalizedString">
								<xsd:maxLength value="60" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="name-on-card" type="tns:CcNameType" minOccurs="0" />
					<xsd:element name="auth-code" type="tns:CcAuthorizationCodeType" />
					<xsd:element name="auth-timestamp" type="xsd:dateTime" />
					<xsd:element name="card-type" type="tns:CcType" />
					<xsd:element name="charge-amount" type="tns:CcAuthorizationAmountType" />
					<xsd:element name="currency" type="tns:CurrencyType" />
					<xsd:element name="transaction-type">
						<xsd:simpleType>
							<xsd:restriction base="xsd:normalizedString">
								<xsd:maxLength value="44" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:all>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="CancelPickupRequestRequest">
		<wsdl:part name="body" element="xsns:cancel-pickup-request-request" xmlns:xsns="http://www.canadapost.ca/ws/soap/pickuprequest" />
	</wsdl:message>
	<wsdl:message name="CancelPickupRequestResponse">
		<wsdl:part name="body" element="xsns:cancel-pickup-request-response" xmlns:xsns="http://www.canadapost.ca/ws/soap/pickuprequest" />
	</wsdl:message>
	<wsdl:message name="CreatePickupRequestRequest">
		<wsdl:part name="body" element="xsns:create-pickup-request-request" xmlns:xsns="http://www.canadapost.ca/ws/soap/pickuprequest" />
	</wsdl:message>
	<wsdl:message name="CreatePickupRequestResponse">
		<wsdl:part name="body" element="xsns:create-pickup-request-response" xmlns:xsns="http://www.canadapost.ca/ws/soap/pickuprequest" />
	</wsdl:message>
	<wsdl:message name="GetPickupPriceRequest">
		<wsdl:part name="body" element="xsns:get-pickup-price-request" xmlns:xsns="http://www.canadapost.ca/ws/soap/pickuprequest" />
	</wsdl:message>
	<wsdl:message name="GetPickupPriceResponse">
		<wsdl:part name="body" element="xsns:get-pickup-price-response" xmlns:xsns="http://www.canadapost.ca/ws/soap/pickuprequest" />
	</wsdl:message>
	<wsdl:message name="GetPickupRequestDetailsRequest">
		<wsdl:part name="body" element="xsns:get-pickup-request-details-request" xmlns:xsns="http://www.canadapost.ca/ws/soap/pickuprequest" />
	</wsdl:message>
	<wsdl:message name="GetPickupRequestDetailsResponse">
		<wsdl:part name="body" element="xsns:get-pickup-request-details-response" xmlns:xsns="http://www.canadapost.ca/ws/soap/pickuprequest" />
	</wsdl:message>
	<wsdl:message name="GetPickupRequestsRequest">
		<wsdl:part name="body" element="xsns:get-pickup-requests-request" xmlns:xsns="http://www.canadapost.ca/ws/soap/pickuprequest" />
	</wsdl:message>
	<wsdl:message name="GetPickupRequestsResponse">
		<wsdl:part name="body" element="xsns:get-pickup-requests-response" xmlns:xsns="http://www.canadapost.ca/ws/soap/pickuprequest" />
	</wsdl:message>
	<wsdl:message name="HoldPickupsRequest">
		<wsdl:part name="body" element="xsns:hold-pickups-request" xmlns:xsns="http://www.canadapost.ca/ws/soap/pickuprequest" />
	</wsdl:message>
	<wsdl:message name="HoldPickupsResponse">
		<wsdl:part name="body" element="xsns:hold-pickups-response" xmlns:xsns="http://www.canadapost.ca/ws/soap/pickuprequest" />
	</wsdl:message>
	<wsdl:message name="ResumePickupsRequest">
		<wsdl:part name="body" element="xsns:resume-pickups-request" xmlns:xsns="http://www.canadapost.ca/ws/soap/pickuprequest" />
	</wsdl:message>
	<wsdl:message name="ResumePickupsResponse">
		<wsdl:part name="body" element="xsns:resume-pickups-response" xmlns:xsns="http://www.canadapost.ca/ws/soap/pickuprequest" />
	</wsdl:message>
	<wsdl:message name="UpdatePickupRequestRequest">
		<wsdl:part name="body" element="xsns:update-pickup-request-request" xmlns:xsns="http://www.canadapost.ca/ws/soap/pickuprequest" />
	</wsdl:message>
	<wsdl:message name="UpdatePickupRequestResponse">
		<wsdl:part name="body" element="xsns:update-pickup-request-response" xmlns:xsns="http://www.canadapost.ca/ws/soap/pickuprequest" />
	</wsdl:message>
	<wsdl:portType name="PickupRequestPortType">
		<wsdl:operation name="CancelPickupRequest">
			<wsdl:input name="CancelPickupRequestRequest" message="ns0:CancelPickupRequestRequest" />
			<wsdl:output name="CancelPickupRequestResponse" message="ns0:CancelPickupRequestResponse" />
		</wsdl:operation>
		<wsdl:operation name="CreatePickupRequest">
			<wsdl:input name="CreatePickupRequestRequest" message="ns0:CreatePickupRequestRequest" />
			<wsdl:output name="CreatePickupRequestResponse" message="ns0:CreatePickupRequestResponse" />
		</wsdl:operation>
		<wsdl:operation name="GetPickupPrice">
			<wsdl:input name="GetPickupPriceRequest" message="ns0:GetPickupPriceRequest" />
			<wsdl:output name="GetPickupPriceResponse" message="ns0:GetPickupPriceResponse" />
		</wsdl:operation>
		<wsdl:operation name="GetPickupRequestDetails">
			<wsdl:input name="GetPickupRequestDetailsRequest" message="ns0:GetPickupRequestDetailsRequest" />
			<wsdl:output name="GetPickupRequestDetailsResponse" message="ns0:GetPickupRequestDetailsResponse" />
		</wsdl:operation>
		<wsdl:operation name="GetPickupRequests">
			<wsdl:input name="GetPickupRequestsRequest" message="ns0:GetPickupRequestsRequest" />
			<wsdl:output name="GetPickupRequestsResponse" message="ns0:GetPickupRequestsResponse" />
		</wsdl:operation>
		<wsdl:operation name="HoldPickups">
			<wsdl:input name="HoldPickupsRequest" message="ns0:HoldPickupsRequest" />
			<wsdl:output name="HoldPickupsResponse" message="ns0:HoldPickupsResponse" />
		</wsdl:operation>
		<wsdl:operation name="ResumePickups">
			<wsdl:input name="ResumePickupsRequest" message="ns0:ResumePickupsRequest" />
			<wsdl:output name="ResumePickupsResponse" message="ns0:ResumePickupsResponse" />
		</wsdl:operation>
		<wsdl:operation name="UpdatePickupRequest">
			<wsdl:input name="UpdatePickupRequestRequest" message="ns0:UpdatePickupRequestRequest" />
			<wsdl:output name="UpdatePickupRequestResponse" message="ns0:UpdatePickupRequestResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="PickupRequest" type="ns0:PickupRequestPortType">
		<soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
		<wsdl:operation name="CancelPickupRequest">
			<soap12:operation soapAction="http://www.canadapost.ca/ws/soap/pickuprequest/CancelPickupRequest" soapActionRequired="false" style="document" />
			<wsdl:input name="CancelPickupRequestRequest">
				
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output name="CancelPickupRequestResponse">
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CreatePickupRequest">
			<soap12:operation soapAction="http://www.canadapost.ca/ws/soap/pickuprequest/CreatePickupRequest" soapActionRequired="false" style="document" />
			<wsdl:input name="CreatePickupRequestRequest">
				
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output name="CreatePickupRequestResponse">
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetPickupPrice">
			<soap12:operation soapAction="http://www.canadapost.ca/ws/soap/pickuprequest/GetPickupPrice" soapActionRequired="false" style="document" />
			<wsdl:input name="GetPickupPriceRequest">
				
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output name="GetPickupPriceResponse">
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetPickupRequestDetails">
			<soap12:operation soapAction="http://www.canadapost.ca/ws/soap/pickuprequest/GetPickupRequestDetails" soapActionRequired="false" style="document" />
			<wsdl:input name="GetPickupRequestDetailsRequest">
				
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output name="GetPickupRequestDetailsResponse">
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetPickupRequests">
			<soap12:operation soapAction="http://www.canadapost.ca/ws/soap/pickuprequest/GetPickupRequests" soapActionRequired="false" style="document" />
			<wsdl:input name="GetPickupRequestsRequest">
				
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output name="GetPickupRequestsResponse">
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="HoldPickups">
			<soap12:operation soapAction="http://www.canadapost.ca/ws/soap/pickuprequest/HoldPickups" soapActionRequired="false" style="document" />
			<wsdl:input name="HoldPickupsRequest">
				
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output name="HoldPickupsResponse">
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ResumePickups">
			<soap12:operation soapAction="http://www.canadapost.ca/ws/soap/pickuprequest/ResumePickups" soapActionRequired="false" style="document" />
			<wsdl:input name="ResumePickupsRequest">
				
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output name="ResumePickupsResponse">
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="UpdatePickupRequest">
			<soap12:operation soapAction="http://www.canadapost.ca/ws/soap/pickuprequest/UpdatePickupRequest" soapActionRequired="false" style="document" />
			<wsdl:input name="UpdatePickupRequestRequest">
				
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output name="UpdatePickupRequestResponse">
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="PickupRequestService">
		<wsdl:port name="PickupRequestPort.0" binding="ns0:PickupRequest">
			<soap12:address location="https://ct.soa-gw.canadapost.ca/enab/soap/pickuprequest" />
		</wsdl:port>
		<wsdl:port name="PickupRequestPort.1" binding="ns0:PickupRequest">
			<soap12:address location="https://ct.soa-gw.canadapost.ca/enab/soap/pickuprequest" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>